/*
 * Customizer Controls CSS
 * Adjusts styling for theme option controls in the Customizer
 * @package Prologe
 */

.customizer-note {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.688rem 0 0;
    display: block;
    background: #32373c;
    color: #fff;
    padding: 5px 10px;
}

.customize-control hr {
    margin: 0.75rem 0 0;
}

/* Enhance the Customizer default styles */
.customize-control input[type="text"],
.customize-control input[type="number"] {
    margin-bottom: 0;
}

.customize-control-checkbox {
    margin-bottom: 0;
}

.prologe-range-input {
    width: 100%;
}

.prologe-range-value {
	border: 1px solid #ccc;
    border-radius: 3px;
    background: #ffffff;
    color: #000;
    margin-bottom: 5px;
    padding: 2px 5px;
    display: inline-block;
}

/* default contrast in WordPress is not enough */
#customize-outer-theme-controls .accordion-section-content, 
#customize-theme-controls .accordion-section-content {
    color: #000;
}


/* Upgrade Styling */
.rp-discount-code {
    font-weight: 700;
}

.rp-discount {
    font-size: 1rem;
    color: #ffffff;
    background: #32373c;
    margin: 1.5rem auto;
    padding: 8px 12px;
}

.rp-pro-heading,
.rp-pro-title {
    font-size: 1.063rem;
    font-weight: 700;
	margin-bottom: 1rem;
}

.rp-pro-heading {
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.rp-pro-list {
    font-size: 14px;
    margin: 10px 0;
}
.rp-get-pro.button {
    background-color: #008ec2;
    border-color: #008ec2;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
}
.rp-get-pro.button:hover {
	background-color: #dc3232;
    border-color: #dc3232;
    color: #fff;
}